{
  "extends": [
    "plugin:react/recommended",
    "eslint:recommended",
    "plugin:react-hooks/recommended"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "plugins": ["react"],
  "parserOptions": {
    "ecmaFeatures": { "jsx": true },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "env": { "es2020": true, "browser": true, "node": true },
  "rules": {
    "react/react-in-jsx-scope": "off",
    "no-unused-vars": ["error", { "args": "none" }]
  }
}
