body,
html {
  padding: 0;
  margin: 0;
}
#root {
  width: 100%;
  text-align: center;
}

.page {
  max-width: 640px;
  margin: 0 auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.topNav {
  background-color: #ffaf08;
  height: 5em;
}

.topNav ul {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.topNav a {
  font-size: 1.8em;
  line-height: 2.5em;
  text-shadow: 1px 2px 3px #b269b2;
  transition: all 0.25s;
}

.topNav a:hover {
  text-shadow: 1px 2px 5px #b269b2, 1px 1px 1px white;
  font-size: 2em;
}
.loader {
  width: 320px;
  height: 150px;
  margin: auto;
  display: block;
  position: relative;
  background: #fff;
  box-sizing: border-box;
}
.loader::after {
  content: "";
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  top: 15px;
  left: 15px;
  position: absolute;
  background-image: linear-gradient(
      100deg,
      transparent,
      rgba(255, 255, 255, 0.5) 50%,
      transparent 80%
    ),
    linear-gradient(#ddd 56px, transparent 0),
    linear-gradient(#ddd 24px, transparent 0),
    linear-gradient(#ddd 18px, transparent 0),
    linear-gradient(#ddd 66px, transparent 0);
  background-repeat: no-repeat;
  background-size: 75px 130px, 55px 56px, 160px 30px, 260px 20px, 290px 56px;
  background-position: 0% 0, 0 0, 70px 5px, 70px 38px, 0px 66px;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
}

@keyframes animloader {
  0% {
    background-position: 0% 0, 0 0, 70px 5px, 70px 38px, 0px 66px;
  }
  100% {
    background-position: 150% 0, 0 0, 70px 5px, 70px 38px, 0px 66px;
  }
}

label {
  display: block;
  width: 100px;
  background: black;
  color: orange;
  font-weight: bold;
  padding: 0.25em 0.5em;
}

textarea,
input[type="email"],
input[type="text"] {
  width: 480px;
  margin-bottom: 1em;
  vertical-align: top;
  font-size: 18px;
}

form button {
  background-color: black;
  color: orange;
  outline-color: orange;
  box-shadow: 3px 3px 2px orange;
  border-radius: 0;
}

form button:hover {
  box-shadow: 1px 1px 1px orange;
  border-color: transparent;
}

form button:focus {
  outline: 4px auto white;
  box-shadow: none;
}

.page {
  width: 600px;
}

form {
  text-align: left;
  width: fit-content;
  margin: 0 auto;
}
