body,
html {
  padding: 0;
  margin: 0;
}
#root {
  width: 100%;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.topNav {
  background-color: #ffaf08;
  height: 5em;
}

.topNav ul {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.topNav a {
  font-size: 1.8em;
  line-height: 2.5em;
  text-shadow: 1px 2px 3px #b269b2;
  transition: all 0.25s;
}

.topNav a:hover {
  text-shadow: 1px 2px 5px #b269b2, 1px 1px 1px white;
  font-size: 2em;
}
